head
  <!--[if gte mso 15]>
  <xml>
  <o:OfficeDocumentSettings>
  <o:AllowPNG/>
  <o:PixelsPerInch>96</o:PixelsPerInch>
  </o:OfficeDocumentSettings>
  </xml>
  <![endif]-->
  title #{title}
  meta(charset="UTF-8")
  meta(
    content="IE=edge"
    http-equiv="X-UA-Compatible"
  )
  meta(
    content="width=device-width, initial-scale=1, maximum-scale=1"
    name="viewport"
  )
  meta(
    content="address=no, email=no, telephone=no"
    name="format-detection"
  )
  link(
    href="#{globalAssetUrl}css/styles.css"
    rel="stylesheet"
    type="text/css"
  )
  link(
    href="#{templateAssetUrl}css/styles.css"
    rel="stylesheet"
    type="text/css"
  )
  link(
    href="#{globalAssetUrl}css/styles-embedded.css"
    inline
    rel="stylesheet"
    type="text/css"
  )
  link(
    href="#{templateAssetUrl}css/styles-embedded.css"
    inline
    rel="stylesheet"
    type="text/css"
  )
