head
  <!--[if gte mso 15]>
  <xml>
  <o:OfficeDocumentSettings>
  <o:AllowPNG/>
  <o:PixelsPerInch>96</o:PixelsPerInch>
  </o:OfficeDocumentSettings>
  </xml>
  <![endif]-->
  title #{title}
  meta(
    content="text/html; charset=UTF-8"
    http-equiv="Content-Type"
  )
  meta(
    content="width=device-width, initial-scale=1, maximum-scale=1"
    name="viewport"
  )
  meta(
    content="address=no; email=no"
    name="format-detection"
  )
  link(
    href="#{globalAssetUrl}#{globalStylesUrl}/styles.css"
    rel="stylesheet"
    type="text/css"
  )
  link(
    href="#{templateAssetUrl}#{templateStylesUrl}/styles.css"
    rel="stylesheet"
    type="text/css"
  )
  link(
    href="#{globalAssetUrl}#{globalStylesUrl}/styles-embeded.css"
    inline
    rel="stylesheet"
    type="text/css"
  )
  link(
    href="#{templateAssetUrl}#{templateStylesUrl}/styles-embeded.css"
    inline
    rel="stylesheet"
    type="text/css"
  )
