include ../pug/mixins.pug

block page-variables

doctype transitional
html(xmlns="http://www.w3.org/1999/xhtml")
  include head.pug
  body
    table(
      bgcolor="#000"
      cellpadding="0"
      cellspacing="0"
    )
      tr
        td
          table.compartment(
            align="center"
            bgcolor="#fff"
            cellpadding="0"
            cellspacing="0"
          )
            tr
              td
                block logo
                  a(
                    href=pageLink
                    target="_blank"
                  )
                    img.full(
                      alt="Logo"
                      src="images/logo.jpg"
                    )
            tr
              td.column
                block headline
                  h1 Stamp Headline
                block content
                  p Stamp Content
            tr
              td
                table
                  tr
                    th.full-small.column
                      h2 Column 1
                    th.full-small.column
                      h2 Column 2
                    th.full-small.column
                      h2 Column 3
            tr
              td.column
                p Stamp Footer
                +button("base", "Learn More", "180px", "40px", "#000")
