head
  title #{title}
  meta(
    content="text/html; charset=UTF-8"
    http-equiv="Content-Type"
  )
  meta(
    content="width=device-width, initial-scale=1, maximum-scale=1"
    name="viewport"
  )
  meta(
    content="address=no; email=no"
    name="format-detection"
  )
  link(
    href="../../../global-css/styles.css"
    rel="stylesheet"
    type="text/css"
  )
  link(
    href="../../css/styles.css"
    rel="stylesheet"
    type="text/css"
  )
  link(
    href="../../../global-css/styles-embeded.css"
    inline
    rel="stylesheet"
    type="text/css"
  )
  link(
    href="../../css/styles-embeded.css"
    inline
    rel="stylesheet"
    type="text/css"
  )
