//- ================
//- Inline Anchor
//- ================

mixin a(link, classNames)
  a(
    class=className,
    href=link,
    target="_blank"
  )
    block


//- ================
//- Inline Image
//- ================

mixin img(alt, file, global, classNames)
  if global
    img(
      alt="#{alt}",
      class=classNames
      src="#{globalAssetUrl}#{globalImageUrl}#{file}"
    )
  else
    img(
      alt="#{alt}",
      class=classNames
      src="#{templateAssetUrl}#{templateImageUrl}#{file}"
    )
